<% title "Hair By Ali Cron - Fort Worth/DFW Hairstylist - Sign Up " %>
<% meta_description "" %>
<% meta_keywords "Fort Worth, DFW, Sign Up, Register, Haircut" %>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h3>Register</h3>
            <form action="/users" method="post">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                <div class="form-group">
                    <input type="text" name="user[first_name]" placeholder="First Name" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="user[last_name]" placeholder="Last Name" class="form-control">
                </div>
                <div class="form-group">
                    <input type="email" name="user[email]" placeholder="Email" class="form-control">
                </div>      
                <div class="form-group">
                    <input type="text" name="user[phone]" placeholder="Phone Number*" class="form-control">
                    <small>Optional*</small>
                </div>
                <div class="form-group">
                    <input type="password" name="user[password]" placeholder="Password" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="user[password_confirmation]" placeholder="Password Confirm" />
                </div> 
                <button type="submit" value="create" class="btn btn-primary btn-lg sharp">Register</button>
            </form>
        </div>
    </div>
</div>
