<% title "Fort Worth/DFW Hairstylist - Portfolio " %>
<% meta_description "HairByAliCron professional portfolio, view images of local Fort Worth hairstylist Alison Cron's work!" %>
<% meta_keywords "Fort Worth, DFW, ombré, balayage, dimensional color" %>
<div class="text-center">
    <ul class="list-inline hidden-xs">
        <li><i class="fa fa-scissors fa-3x fa-rotate-270" aria-hidden="true"></i></li>
        <li><p class="header-tag">Hair by Ali Cron</p></li>
        <li><i class="fa fa-scissors fa-3x fa-rotate-270" aria-hidden="true"></i></li>
    </ul>
</div>
<section>
    <!-- instafeed-portfolio -->

    <script type="text/javascript">
        $( document ).ready( function() {
            var userFeed = new Instafeed({
              get: 'user',
              userId: '3054008733',
              target: 'instafeed-portfolio',
              accessToken: '3054008733.b3ed9be.9fe3223dae414264809154a9598ced09',
              clientId: 'b3ed9bec7753418a94d68a9aca3c83ee',
              resolution: 'standard_resolution',
              limit: 60,
              sortBy: 'most-recent',
              after: function () {
                var images = $("#instafeed-portfolio").find('a');
                $.each(images, function(index, image) {
                  var delay = (index * 75) + 'ms';
                  $(image).css('-webkit-animation-delay', delay);
                  $(image).css('-moz-animation-delay', delay);
                  $(image).css('-ms-animation-delay', delay);
                  $(image).css('-o-animation-delay', delay);
                  $(image).css('animation-delay', delay);
                  $(image).addClass('animated flipInX');
                });
              },
              template: '<div class="col-xs-6 col-sm-3"><a href="{{link}}" target="_blank"><img class="img-responsive center-block" src="{{image}}" /><div class="likes">&hearts; {{likes}}</div></a></div>'
            });
        userFeed.run();
        });
    </script>

    <div class="container">
        <header>
            <div class="instafeed-content">
                <div class="row">
                    <div id="instafeed-portfolio"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </header>
    </div>
</section>