<% title "Hair By Ali Cron - Fort Worth/DFW Hairstylist - Services " %>
<% meta_description "" %>
<% meta_keywords "Fort Worth, DFW, hair salon near me, hair extensions, mens haircuts, balayage" %>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div id="services-panel" class="panel-heading text-center"><h3>HAIR CUTS</h3></div>
                <div class="panel-body">
                  <p class="text-center">Guest's enjoy complimentary neck and bang trims in-between services.</p>
                </div>
                <ul id="services-list" class="list-group">
                    <li class="list-group-item"><strong>Women's Haircut &amp; Style</strong>
                    <p>- Includes shampoo and a complimentary style out.</p>
                    <strong>Price: $55</strong></li>
                    <li class="list-group-item"><strong class="list-group-item-text">Men's Haircut &amp; Style</strong>
                    <p>- Includes shampoo and a complimentary style. Add a beard trim to your service for $15.</p>
                    <strong>Price: $30</strong></li>
                    <li class="list-group-item"><strong class="list-group-item-text">Youth Haircut &amp; Style</strong>
                    <p>- Includes shampoo and a complimentary style out.</p>
                    <strong>Price: $30</strong></li>
                  </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div id="services-panel" class="panel-heading text-center"><h3>HAIR STYLING</h3></div>
                <div class="panel-body">
                  <p class="text-center">Available for on-site weddings depending on location and scheduling.</p>
                  <p class="text-center disclaimer">*Travel fees not included and wedding prices may differ. Contact me directly for a quote.</p>
                </div>
                <ul id="services-list" class="list-group">
                    <li class="list-group-item"><strong>Shampoo &amp; Blowout</strong>
                    <p>- Service includes shampoo and a smooth and sleek blowout or a volumized blowout.</p>
                    <strong>Price: $35</strong></li>
                    <li class="list-group-item"><strong>Shampoo &amp; Blowout with Iron Work</strong>
                    <p>- Service includes shampoo, blowout, and flat iron or curling iron work. Enjoy sleek hair or killer curls!</p>
                    <strong>Price: $45</strong></li>
                    <li class="list-group-item"><strong>Formal Style</strong>
                    <p>- Any half up/half down styles, curls, braiding, etc.</p>
                    <strong>Price: $65</strong>
                    <small class="disclaimer">- Shampoo not included.</small></li> 
                    <li class="list-group-item"><strong>Up Style</strong>
                    <p>- All of the hair is curled, pinned up, braided, etc.</p>
                    <strong>Price: $80</strong>
                    <small class="disclaimer">- Shampoo not included.</small></li>
                  </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div id="services-panel" class="panel-heading text-center"><h3>Kevin Murphy Hair Color Services</h3></div>
                <div class="panel-body">
                  <p class="text-center">This compact color line delivers high performance, natural looking results and optimum color functionality. An artful blend of gentle and "from the earth" ingredients naturally moisturize with honey-based color, rejuvenate and impart incredible shine without having to further compromise the environment.</p>
                  <p class="text-center disclaimer">*Pricing may increase depending on thickness and length of hair. Each additional color bowl is $20.</p>
                </div>
                <ul id="services-list" class="list-group">
                    <li class="list-group-item"><strong>Grey Blending (for men)</strong>
                    <p>- Blend those greys, don't cover them!</p>
                    <strong>Price: $25</strong></li>
                    <li class="list-group-item"><strong>New Growth</strong>
                    <p>- Color is applied solely to the new growth area which is the area that has grown out since your last color service. </p>
                    <strong>Price: $60</strong></li>
                    <li class="list-group-item"><strong>Color Balance</strong>
                    <p>- Kevin Murphy color applied from new growth to ends</p>
                    <p><strong>Short: $60</strong></p>
                    <p><strong>Medium: $80</strong></p>
                    <p><strong>Long: $100</strong></p>
                    <p><strong>Extra Long: $120</strong></p></li>
                    <li class="list-group-item"><strong>Highlights</strong>
                    <p>- Add dimension using different foil placements based on the look you desire.</p>
                    <p><strong>Partial Highlight: $95</strong></p>
                    <p><strong>Full Highlight: $130</strong></p></li>
                    <li class="list-group-item"><strong>Ombre/Balayage</strong>
                    <p>- Hair coloring that gives sun-kissing dimension, goes gradually lighter from new growth to ends, the possibilities are endless!</p>
                    <strong>Starts at: $130 -Priced Upon Consultation</strong></li>
                    <li class="list-group-item"><strong>Corrective Color</strong>
                    <p>- A big color-service get ready to spend all day with me! (;</p>
                    <strong>Priced Upon Consultation</strong></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div id="services-panel" class="panel-heading text-center"><h3>Waxing Services</h3></div>
                <div class="panel-body">
                  <p class="text-center">All waxing services applied with hard wax.</p>
                </div>
                <ul id="services-list" class="list-group">
                    <li class="list-group-item"><strong>Brow Wax</strong>
                    <p>- Includes trimming and tweezing if necessary.</p>
                    <p><strong>Price: $20</strong></p>
                    </li>                        
                    <li class="list-group-item"><strong>Chin Wax</strong>
                    <p>- Not by the hair of my chinny chin chin!</p>
                    <p><strong>Price: $20</strong></p>
                    </li>
                    <li class="list-group-item"><strong>Lip Wax</strong>
                    <p>- Enjoy a more comfortable experience with hard wax as opposed to soft wax; we all know that upper lip can be tender!</p>
                    <p><strong>Price: $20</strong></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
