// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section-plain:not(:last-of-type), .section-green {
    padding: 3em 0;
}
.section-green {
    color: #fff;
    background-color: #2f9780; 
}
.section-green h2 {
    margin-bottom: 1.5em;
    font-size: 2.5rem;
    font-weight: 700;
}
.section-green i {
    color: #fff;
}
#custom_style {
    width: 100%;
    height: 300px;
}
.maps-api {
    margin-bottom: -3em;
}
.hidden { display: none; }
@media (max-width: 768px) { 
    .maps-api {
        margin-bottom: 0;
    }
 }