// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*HOME*/
.home-section-plain {
    padding: 0 0 3em 0;
}
.specials-display-home {
    background: #f7f7f7;
    padding: 1em 0 1em 0;
    font-size: 1.5em;
    color: #2f9780;
}
.specials-display-home span {
    color: #2f9780;
    font-size: 2em;
}
.image-text-box {
    background: #f7f7f7;
    padding: 1em 0 1em 0;
}
.about-snippet {
    line-height: 2.5em;
    letter-spacing: normal;
    font-size: 1.2em;
}
#mini-space-divider {
    padding: 2em 0;
}
.home-carousel-section {
    padding: 0 0;
}
.site-footer i:hover {
    color: #ccc;
}
.site-footer i {
    color: #fff;
}
.header-tag {
    font-size: 6em;
    font-family: 'Italianno', cursive;
    color: #2f9780;
}
#space-divider {
    padding: 3em 0;
}
.instagram-title {
    color: #af3c92;
}
.instagram-title a {
    color: #af3c92;
}
#home-testimonials-text {
    color: #2f9780;
}
#review_link_text {
    font-size: 20px;
    text-decoration: none;
}

/*ABOUT*/

#main_availablity_text {
    list-style: none;
}
.about-header {
    min-height: 700px;
    background: linear-gradient(to bottom, transparent, rgba(96, 96, 96, 0.7)), url('ali-bg.jpg') no-repeat 0 -70px;
    background-size: cover;
    border-bottom: 1px solid #878787;
}
.about-header p {
    margin-top: 37%;
    color: #fff;
    font-size: 2.4rem;
}

.about-dark {
    padding: 3em 0;
    color: #fff;
    background-color: #2f9780;
    font-size: 1.8rem;
}
.kevin_murphy_img {
    padding: 3em 0;
}

/*SERVICES*/

.disclaimer {
    color: red;
}
#services-list {
    list-style: none;
}
#services-panel {
    background: #2f9780;
    color: #fff;
}
#external-links {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

@media screen and (max-width: 414px) {
    .about-header {
        min-height: 700px;
        background: linear-gradient(to bottom, transparent, rgba(96, 96, 96, 0.7)), url('ali-bg.jpg') no-repeat -370px 0px;
        background-size: cover;
    }
    .about-header p {
        margin-top: 88%;
        color: #fff;
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 414px) and (max-width: 1024px) {
    .about-header {
        min-height: 700px;
        background: linear-gradient(to bottom, transparent, rgba(96, 96, 96, 0.7)), url('ali-bg.jpg') no-repeat -10px 0px;
        background-size: cover;
    }
    .about-header p {
        margin-top: 45%;
        color: #fff;
        font-size: 2rem;
    }
}
@media screen and (min-width: 414px) and (max-width: 736px) {
    .about-header {
        min-height: 700px;
        background: linear-gradient(to bottom, transparent, rgba(96, 96, 96, 0.7)), url('ali-bg.jpg') no-repeat -268px 0px;
        background-size: cover;
    }
    .about-header p {
        margin-top: 56%;
        color: #fff;
        font-size: 2rem;
    }
}